section.bg-gray
  .container
    .row.align-items-center
      .col-md-6.text-center.pt-5

        .d-inline-block.text-center.text-md-left

          h2.mb-0.font-md-h1 
            | Descarga Eat App!

          p.h6.mb-3 
            | Próximamente

          .mb-4.py-md-2.px-5.px-md-0 
            | En Eat App! tienes una gran variedad de exquisitos menús, realiza tus pedidos en pocos pasos, paga online o en efectivo y haz el seguimiento de tu orden.

          .d-md-flex.text-center.mb-4.mb-md-0
            .mr-md-3.mb-3.mb-md-0
              a(href="#").smodal-click.d-inline-block.cursor-pointer
                span.img-apple
            div
              a(href="#").smodal-click.d-inline-block.cursor-pointer
                span.img-android

      .col-md-6.text-center.pt-3.pt-md-5.px-5.px-md-0
        .px-5.pt-md-5.px-lg-0.mr-n5.mr-md-0
          img(
            src="../assets/images/mobile.png" 
            srcset="../assets/images/mobile@2x.png" 
            height="440" 
            alt="Previsualización del Eat App!"
          ).w-max-100
