-
  const lists = [
    {
      'title': 'Cada vez más <br> comercios afiliados',
      'description': 'Podrás escoger entre los más de 2000 Eat App-Aliados, y todos con el protocolo de bioseguridad implementado. Tenemos restaurantes, fuentes de soda, cafeterías, juguerías, panaderías, pastelerías, de todo!!!',
      'items': false,
      'src': '../assets/images/benefits/clients/5.png',
      'srcset': '../assets/images/benefits/clients/5@2x.png',
      'height': 300
    },
    {
      'title': 'Ordena tu <br> plato favorito!...',
      'description': '',
      'items': [
        'Almuerzo, desayuno, cena? Ok!',
        'Chifa, criollo, pizza, pollo? Ok!',
        'Un pastel o una docena de picarones? Ok!',
        'Realmente lo que quieras!!!...'
      ],
      'src': '../assets/images/benefits/clients/4.png',
      'srcset': '../assets/images/benefits/clients/4@2x.png',
      'height': 300
    },
    {
      'title': 'Pago <br> online',
      'description': 'Mientras menos contacto haya ¡Mejor!. Podrás realizar el pago de tu pedido con cualquier tarjeta que desees usar.',
      'items': false,
      'src': '../assets/images/benefits/clients/6.png',
      'srcset': '../assets/images/benefits/clients/6@2x.png',
      'height': 300
    },
    {
      'title': 'Monitorea y <br> revisa tu orden',
      'description': 'Si eres usuario, estarás siempre informado cuando tu orden esté lista para ser recogida o si elegiste delivery sabrás en cuanto tiempo llegará tu orden.',
      'items': false,
      'src': '../assets/images/benefits/clients/2.png',
      'srcset': '../assets/images/benefits/clients/2@2x.png',
      'height': 300
    },
    {
      'title': 'Programa tu pedido <br> a la hora elegida',
      'description': 'Si haces tu pedido con horas de anticipación, tienes la ventaja de poder elegir a qué hora vas a recoger o quieres que se te haga el delivery.',
      'items': false,
      'src': '../assets/images/benefits/clients/3.png',
      'srcset': '../assets/images/benefits/clients/3@2x.png',
      'height': 300
    },
    {
      'title': 'Usuario protegido <br> e informado',
      'description': 'Eat App! informará al usuario la obligación de usar “Mascarilla” al momento de “Recibir” su pedido. Y que de no contar con ella no podrá ser entregado hasta cumplir con esta disposición.',
      'items': false,
      'src': '../assets/images/benefits/clients/7.png',
      'srcset': '../assets/images/benefits/clients/7@2x.png',
      'height': 300
    },
    {
      'title': 'Sin colas, <br> Sin esperas',
      'description': 'No es necesario exponerse en una cola, tampoco tienes que esperar en el teléfono a que te atiendan, ordena tu pedido desde tu celular y recoge tu pedido cuando te indique que ya “Está Listo”.',
      'items': false,
      'src': '../assets/images/benefits/clients/1.png',
      'srcset': '../assets/images/benefits/clients/1@2x.png',
      'height': 260
    }
  ]

section.bg-red.text-white.py-5
  .container.py-lg-5
    h2.font-md-h1.text-center.mb-5 
      | Beneficios para <br> nuestros usuarios

    .row.justify-content-center.text-center.text-md-left
      .col-lg-11
        include ../general/_benefit
