doctype html
html(lang='es')
  head
    title Afíliate - Eat app!
    include general/_head

  body
    include general/_header

    include modules/_affiliate
    include modules/_business
    
    include general/_footer
    include general/_script