doctype html
html(lang='es')
  head
    title Eat app!
    include general/_head

  body
    include general/_header

    include modules/_slider
    include modules/_download
    include modules/_how
    include modules/_users
    include modules/_affiliate

    include general/_footer
    include general/_script
