footer.bg-black.text-white.text-center.text-lg-left#footer
  .container
    .px-4.px-sm-5.px-lg-0
      .row

        .col-md-4.py-5
          .pl-md-5
            .mb-5
              img(
                src="../assets/images/logo-black.png" 
                srcset="../assets/images/logo-black@2x.png" 
                height="120" 
                alt="Logo Eat App! Alternativo"
              ).d-block.mx-auto.mx-lg-0

            .d-flex.justify-content-center.justify-content-lg-start
              .ml-n2.mr-2
                a(href="#" target="_blank" title="Facebook").none
                  i.icon-facebook.circle
              .mx-2
                a(href="#" target="_blank" title="Twitter").none
                  i.icon-twitter.circle
              .mx-2
                a(href="#" target="_blank" title="Instagram").none
                  i.icon-instagram.circle

        .col-md-4.py-md-5
          ul.list-unstyled
            li.mb-3.mb-md-5
              a(href="#").text-gray-200 Inicio

            li.my-md-5
              a(href="#").text-gray-200 ¿Quiénes somos?
              
            li.mt-3.mt-md-5
              a(href="#").text-gray-200 Afíliate a Eat App!

        .col-md-4.py-5
          h3.font-h7.mb-4 Descarga la aplicación

          .d-flex.py-2.mb-4.justify-content-center.justify-content-lg-start
            .mr-3
              a(href="#" target="_blank").cursor-pointer.smodal-click
                span.img-apple-small
            div
              a(href="#" target="_blank").cursor-pointer.smodal-click
                span.img-android-small

          h3.font-h7.mb-4 Contáctenos

          .d-inline-block.d-lg-flex.justify-content-center.justify-content-lg-start
            .d-flex.align-items-center.mb-2.h6.font-weight-normal.mr-4
              i.icon-email-out.mr-2.text-gray-200

              a(href="mailto:info@eatapp.com").text-gray-200.none
                | info@eatapp.com

            .d-flex.align-items-center.h6.m-0.font-weight-normal
              i.icon-whatsapp.mr-2.text-gray-200

              a(href="tel:999888777").text-gray-200.none
                | 999 888 777

      .border-top.d-lg-flex.justify-content-between.pt-3.pb-4.font-h7
        p.mb-0
          a.text-gray-200(href="#")
            | Términos y condiciones

        p.mt-3.mb-0.mt-lg-0.text-gray-300
          | &copy; 2020 Eat App! - Todos los derechos reservados.

.smodal
  .smodal-wrapper
    .smodal-content
      .smodal-close
        i.icon-close

      .smodal-text
        | Nuestros Eat App-Aliados vienen preparándose!, muy pronto estará disponible para su descarga.
