.font-weight-normal {
  font-weight: 400 !important; // sass-lint:disable-line no-important
}

.font-weight-bold {
  font-weight: 700 !important; // sass-lint:disable-line no-important
}

strong {
  font-weight: 700 !important; // sass-lint:disable-line no-important
}
