.w {
  &-20 {
    width: 20%;
  }

  @media (min-width: 576px) {
    &-sm-50 {
      height: auto;
      width: 50%;
    }
  }

  @media (min-width: 768px) {
    &-md-100 {
      height: auto;
      width: 100%;
    }

    &-md-20 {
      height: auto;
      width: 20%;
    }

    &-md-50 {
      height: auto;
      width: 50%;
    }
  }

  @media (max-width: 991px) {
    &-max-100 {
      height: auto;
      max-width: 80%;
    }
  }
}
